// Use Wikia style guide settings
@import '../../bower_components/wikia-style-guide/src/scss/lib/settings';

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Z-Index Implementations
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// z-min
// z-1
// z-2
// z-3
// z-4
// z-5
// z-6
$z-pop-over-compass: $z-6;
// z-7
$z-discussion-sticky-editor: $z-7;
$z-site-head: $z-7;
// z-8
$z-side-nav-overlay: $z-8;
$z-discussion-editor: $z-8;
$z-highlight-overlay: $z-8;
// z-9
$z-alert-notification: $z-9;
$z-modal-dialog: $z-9;
$z-side-nav: $z-9;
$z-highlight-overlay-content: $z-9;
$z-global-navigation: $z-9;
// z-max
$z-pop-over: $z-max;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// theme defaults
$color-page: #ffffff !default;
$color-links: #006CB0 !default;
$color-community-header: #006CB0 !default;

// Border Radius
$border-radius-global: rem-calc(2);

// Article horizontal padding
$article-horizontal-padding: 1.125rem;

// Colors
$color-black: #000;
$color-white: #fff;
$color-blue-brand: $color-blue-light;
$color-gray-semi: $color-blue-gray;

// Is dark wiki
$is-dark-wiki: false;
@if lightness($color-page) < 50 {
	$is-dark-wiki: true;
}

// Text color
$color-text-dark: #3a3a3a;
$color-text-light: #d5d4d4;

$color-text: $color-text-dark;
@if $is-dark-wiki {
	$color-text: $color-text-light;
}

// Page Borders
$color-page-border: mix($color-page, $color-black, 80%);
@if $is-dark-wiki {
	$color-page-border: mix($color-page, $color-white, 80%);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Module Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// All variables should live here to prevent shadowing of variables and provide a central location for developers to
// quickly modify the application

$overlay-background-color: rgba(0, 0, 0, 0.5);
$box-shadow-color: rgba(0, 0, 0, 0.3);

$border-color-light: $color-gray-light;

$element-active-bg: $color-gray-light;

$modal-background: $color-gray-dark;
$modal-text-color: $color-white;

$search-box-border-color: $color-blue-gray-light;
$search-box-text-color: $color-blue-gray;
$spinner-color: $color-blue-brand;

$fancy-check-box-border: #999;
$fancy-check-box-disabled-border: #ccc;
$fancy-check-box-background: #fff;
$highlight-overlay-background-color: #f6f6f6;
$pop-over-background-color: $color-white;

$side-nav-item-gutter: rem-calc(13);
$side-nav-width: rem-calc(260);
$side-nav-offset: $side-nav-width * -1;
$transition-length: .1s;
$wikia-ui-components-sub-head-height: 48px;
$wikia-ui-components-sub-head-height-large: 66px;

// Copied from auth styles
$header-text-color: $color-white;
$input-color-active: $color-blue-gray;
$input-border-error-color: $alert-color;
$label-color-active: $color-blue-gray-dark;
$label-color-inactive: $color-blue-gray;
$label-color-valid: $color-blue-gray-dark;
$link-color: $color-blue-light;
$disabled-button-text-color: #B4D6F2;
$auth-content-background-color: $color-white;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$verticals: comics games books movies lifestyle music tv;
$vertical-colors: (
		$color-hub-comics
		$color-hub-games
		$color-hub-books
		$color-hub-movies
		$color-hub-lifestyle
		$color-hub-music
		$color-hub-tv
);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Smart banner
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$smart-banner-android-height: rem-calc(66);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site head
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$site-head-top-border-height: rem-calc(6);
$site-head-content-height: rem-calc(49);
$site-head-fandom-bar-height: rem-calc(23);
$site-head-height: $site-head-top-border-height + $site-head-content-height;
$site-head-with-fandom-bar-height: $site-head-height + $site-head-fandom-bar-height;
$icon-site-head-width: rem-calc(60);
$icon-site-head-height: 50px;
