// DO NOT CHANGE:
// load order of files below is intentional
@import '../../bower_components/wikia-style-guide/src/scss/main';
@import 'embedded-svgs';
@import 'settings';
@import 'foundation-imports';
@import 'wikia-variables';
@import 'mixin/index';

@import '../../../common/styles/placeholder/index';
@import 'base/index';
@import 'layout/index';
@import 'state/index';
@import 'theme/index';
@import 'component/index';
@import 'module/index';

// temporary solution while these inputs are not a part of the Style Guide
@import '../../../auth/app/styles/base/input';
@import '../../../auth/app/styles/module/forms';
@import '../../../auth/app/styles/module/form-icons';


body {
	background-color: $discussion-body-bg-color;
	color: $font-color;
}

abbr, acronym {
	color: $font-color;
}

.wiki-page-header {
	background-color: $color-buttons;
}

a, .table-of-contents .title{
	color: $color-links;
}

.portable-table-wrappper table {
	border-color: $discussion-bg-color;
}

h1, h2, h3, h4, h5, h6, .article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h6 {
	color: $header-color;
}

.edit-section .icon {
	fill: $header-color;
}

table[data-portable="true"] tr:nth-child(odd) td {
	background-color: $table-bg-color
}

.content-recommendations {
	background-color: $recommendations-bg-color;
}

.contributors {
	background-color: $discussion-body-bg-color
}
