<div class="discussion guidelines-page">
	<div class="head">
	</div>
	<div class="guidelines-text">
		{{{parsedContent}}}
	</div>
	{{#if canEdit}}
		<a class="guidelines-edit-button wds-is-secondary wds-is-squished wds-button" {{action 'openGuidelinesEditor'}}>
			{{svg 'pencil' viewBox='0 0 18 18' class='wds-icon wds-icon-small'}}
			<span>
				{{i18n 'main.edit-guidelines-uppercase' ns='discussion'}}
			</span>
		</a>
	{{/if}}
</div>
