{{#if canUseModeratorTools}}
	<h3 class="{{if responsive.isMobile 'discussion-mobile-filter-header'}}">
		{{i18n 'main.moderator-tools' ns='discussion'}}
	</h3>
	<ul class="wds-list{{if responsive.isMobile ' wds-has-big-items wds-has-lines-between'}}">
		{{yield (hash
		trackReportedContentTap=(action 'trackReportedContentTap')
		trackUserActivityTap=(action 'trackUserActivityTap')
		)}}
	</ul>
{{/if}}
