<div class="discussion guidelines-page">
	<div class="head">
	</div>
	<div class="guidelines-text">
		{{{parsedContent}}}
	</div>
	{{#if canEdit}}
		<button class="wds-is-secondary wds-is-squished wds-button">
			<a class="guidelines-edit-link active-element-theme-color" {{action 'openGuidelinesEditor'}}>
				{{svg 'pencil' viewBox='0 0 18 18' class='icon fill-theme-color'}}
				{{i18n 'main.edit-guidelines-uppercase' ns='discussion'}}
			</a>
		</button>
	{{/if}}
</div>
