{{#if isDragActive}}
	<div class="discussion-image-upload__drag-n-drop-placeholder">
		{{svg 'wds-icons-image' role='img' class='wds-icon icon discussion-image-upload__drag-n-drop-icon'}}
	</div>
{{else}}
	{{discussion-image-upload-input
		onImageSelected=(action 'onImageSelected')
	}}
{{/if}}
