<label id="browseButton"
	   class="discussion-image-upload__button"
	   for="discussionImageUpload">
	{{svg 'wds-icons-image-add' viewBox='0 0 40 40' class='icon'}}
	<span>{{i18n 'editor.add-image' ns='discussion'}}</span>
</label>

<input style="display:none" id="discussionImageUpload" type="file" accept="image/*"/>
