<fieldset class="discussion-fieldset" disabled={{disabled}}>
	<legend>
		{{i18n 'main.moderation-header' ns='discussion'}}
	</legend>
	<ul class="discussion-hide-deleted-container">
		<li>
			{{wikia-ui-components.fancy-check-box
				inputId='hide-deleted-checkbox'
				isChecked=hideDeleted
				label=(i18n 'main.hide-deleted' ns='discussion')
				disabled=false
				update=(action toggleHideDeleted)
			}}
		</li>
	</ul>
</fieldset>
