<fieldset class="discussion-fieldset" disabled={{disabled}}>
	<legend>
		Moderation
	</legend>
	<ul class="discussion-toggle-deleted-container">
		<li>
			{{wikia-ui-components.fancy-check-box
				inputId='toggle-deleted-checkbox'
				isChecked=hideDeleted
				label='Hide Deleted'
				disabled=false
				update=(action toggleHideDeleted)
			}}
		</li>
	</ul>
</fieldset>
