<label class="discussion-image-upload__button">
	{{svg 'wds-icons-image-add' viewBox='0 0 40 40' class='icon discussion-image-upload__icon'}}
	<span>{{i18n 'image-upload.add-image' ns='discussion'}}</span>
	<input style="display:none" type="file" accept="image/*"/>
</label>

