<div class="discussion-left-rail__circle">
	{{svg 'wds-icons-alert' class='wds-icon discussion-left-rail__icon'}}
</div>

<p class="discussion-left-rail__header">{{i18n 'main.reported-content' ns='discussion'}}</p>
<p class="discussion-left-rail__postcounter">{{numberOfPosts}} {{i18n 'user-activity.posts' ns='discussion'}}</p>
