{{user-avatar
	avatarUrl=userProfile.avatarUrl
	shouldWrapInHref=true
	username=userName
}}
<p class="discussion-left-rail__header">{{userName}}</p>
<p class="discussion-left-rail__postcounter">{{numberOfPosts}} {{i18n 'user-activity.posts' ns='discussion'}}</p>
