<div class="discussion-left-rail__circle">
	<svg class="wds-icon discussion-left-rail__icon">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-alert"></use>
	</svg>
</div>

<p class="discussion-left-rail__insights">{{i18n 'main.reported-content' ns='discussion'}}</p>
<p class="left-rail-user-details__postcounter">{{numberOfPosts}} {{i18n 'user-activity.posts' ns='discussion'}}</p>
