<div class="discussion-left-rail__circle">
	<svg class="wds-icon discussion-left-rail__icon-guidelines">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-clipboard"></use>
	</svg>

	<p class="discussion-left-rail__guidelines">Guidelines</p>
	<p class="discussion-left-rail__discussions">Discussions</p>
</div>
