<div class="discussion-left-rail__circle">
	{{svg 'wds-icons-activity' role='img' class='wds-icon discussion-left-rail__icon'}}
</div>

<p class="discussion-left-rail__header">{{i18n 'main.user-activity' ns='discussion'}}</p>
<p class="discussion-left-rail__discussions">{{i18n 'main.discussions-header-title' ns='discussion'}}</p>
