<div class="discussion-left-rail__circle">
	<svg class="wds-icon discussion-left-rail__icon">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-activity"></use>
	</svg>
</div>

<p class="discussion-left-rail__insights">Insights</p>
<p class="discussion-left-rail__discussions">Discussions</p>
