{{user-avatar
	avatarUrl=userProfile.avatarUrl
	shouldWrapInHref=true
	username=userName
}}
<p class="left-rail-user-details__username">{{userName}}</p>
<p class="left-rail-user-details__postcounter">{{numberOfPosts}} {{i18n 'user-activity.posts' ns='discussion'}}</p>
