<div class="notification-icon-wrapper">
	{{svg icon}}
</div>
<div class="notification-body">
	<p class="notification-text">
		{{text}}
	</p>
	<div class="notification-context">
		<span class="notification-timestamp">
			{{timestamp}}
		</span>
		<span class="notification-community-name">
			{{model.communityName}}
		</span>
	</div>
</div>
