<div class="notification-icon-wrapper">
	{{svg iconName viewBox='0 0 24 24' class='icon'}}
</div>
<div class="notification-body">
	<p class="notification-text">
		{{text}}
	</p>
	<ul class="notification-context-list">
		<li class="notification-context-item">
			{{time-ago model.timestamp}}
		</li>
		<li class="notification-context-item">
			{{model.wiki}}
		</li>
	</ul>
</div>
