<form method="POST" action="/logout">
	{{input type="hidden" name="redirect" value="/d"}}
	<button type="submit" class="wds-sign-out__button">
		{{i18n 'global-navigation-user-sign-out' ns='design-system'}}
	</button>
</form>
