{{#each avatars as |avatar|}}
	<div class="wds-avatar-stack__avatar">
		{{user-avatar
				avatarUrl=avatar.avatarUrl
				username=avatar.name
				userId=avatar.id
		}}
	</div>
{{/each}}
{{#if showAvatarOverflow}}
	<div class="wds-avatar-stack__overflow">+{{avatarOverflow}}</div>
{{/if}}
