
.search-results-wrapper {
	padding-top: 2.5em;
}

// Hide top result options area for Google Custom Search
.gsc-above-wrapper-area-container {
	display: none;
}

.search-results-loading {
	padding-left: .5em;
	padding-top: 2.5em;
}
