{{#discussion-user-activity-layout
		applyFilters=(action 'applyFilters')
		attributes=model.attributes.data
		days=days
		setDays=(action 'setDays')
		setEditorActive=(action 'setEditorActive')
		updateCategories=(action 'updateCategories')
		uploadCommunityBadge=(action 'uploadCommunityBadge')
		uploadDiscussionsHeader=(action 'uploadDiscussionsHeader')
		validatePostsOnForum=(action 'validatePostsOnForum')
}}
	<div class="discussion-user-activity">
		{{#if responsive.isMobile}}
			<h2 class="user-activity-wikiname">{{#track-click action='clickCommunityName'}}{{displayedWikiName}}{{/track-click}}</h2>
			<p class="user-activity-title">{{i18n 'user-activity.hero-unit-subtitle' ns='discussion'}}</p>
		{{/if}}
		{{discussion-user-activity-toggle
			currentRouteName=currentRouteName
			days=days
			setDays=(action 'setDays')
		}}
	</div>
	{{outlet}}
{{/discussion-user-activity-layout}}
