<header class="sub-head">
	<div class="sub-head--title">
		{{#link-to 'image-review'
				   tagName='button'
				   classNames='sub-head--done'}}
			{{i18n 'main.head' ns='image-review'}}
		{{/link-to}}
	</div>
</header>
