.notification-card {
	padding: 12px 0 8px;
	text-align: left;

	&.is-unread {
		.notification-icon-wrapper {
			.icon {
				fill: #00b7e0;
			}
		}
	}

	a {
		color: #656d77;
		display: flex;
		padding: 0;
	}

	.discussion-contributors {
		margin: 8px 18px 6px 40px;

		.user-avatar {
			background: #fff;
			border-radius: 100%;
			margin: 0;
		}

		@for $i from 1 to 5 {
			.ember-view:nth-child(#{$i}) .user-avatar {
				transform: translate(($i - 1) * - 15px);
				z-index: 5 - $i;
			}
		}
	}
}

.notification-icon-wrapper {
	padding-left: 12px;
	width: 30px;

	.icon {
		height: 18px;
		width: 18px;
	}
}

.notification-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	padding-left: 12px;
	padding-right: 12px;
}

.notification-text {
	color: #38424d;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.notification-context-list {
	color: #c5ced9;
	display: flex;
	font-size: 12px;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 8px 0 0;
}

.notification-entity-text-snippet {
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
	margin: 8px 0 0;
}

.notification-context-separator {
	display: flex;
	font-size: 16px;
	margin: -7px 8px 0;
}
