.notifications-unread-mark {
	align-items: center;
	background-color: #00b7e0;
	border: 1px solid #fff;
	border-radius: 100%;
	color: #fff;
	display: flex;
	justify-content: center;
	font-size: 10px;
	height: 18px;
	left: -9px;
	position: absolute;
	top: 7px;
	width: 18px;
}

.notifications-toggle {
	margin-left: 16px;
	margin-right: 16px;
}

.notifications-dropdown-content {
	align-items: center;
	color: #656d77;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	justify-content: center;
	//padding 18 * 2 + content 320px
	min-width: 356px;
	width: 100%;

	.notifications-list {
		box-sizing: border-box;
		max-height: 420px;
		overflow-y: scroll;
		padding: 0 18px;
		width: 100%;
	}
}

.mark-all-as-read-button {
	box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: flex-start;
	min-height: 44px;
	padding: 0;
	width: 100%;
}

.mark-all-as-read {
	color: #00b7e0;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	padding: 18px;
	text-transform: uppercase;
}

.wds-is-active {
	background-color: #656e78;
	border-color: #363b41;

	.notifications-toggle {
		.wds-icon {
			fill: white;
		}
	}
}

@media #{$desktop-range} {
	.notifications-dropdown-content {
		max-width: 356px;
	}
}
