.discussions {

	.discussion-image-upload {
		$color: $discussion-editor-image-upload-color;

		&__drag-n-drop-placeholder {
			align-items: center;
			background-color: rgba(26, 26, 26, 0.7);
			display: flex;
			height: 236px;
			justify-content: center;
			width: 100%;
		}

		&__drag-n-drop-icon {
			color: $discussion-editor-image-upload-drag-n-drop-icon-color;
			height: 42px;
			width: 42px;
		}

		&__icon {
			margin-right: 6px;
		}

		&__button {
			align-items: center;
			background: transparent;
			border: dashed 1px $color;
			color: $color;
			display: inline-flex;
			height: 46px;
			justify-content: center;
			margin: 0 0 24px;
			padding: 0;
			width: 100%;

			// https://github.com/ftlabs/fastclick/issues/60
			& > * {
				pointer-events: none;
			}
		}
	}
}
