$desktop-content-width: 768px;

.standalone-page-view {
	height: 100%;

	.standalone-content {
		background-color: $discussion-standalone-content-background-color;
	}
}

@media #{$mobile-range} {
	body {
		&.discussions {
			&.standalone-page {
				background-color: $discussion-standalone-content-background-color;

				.discussion-header {
					h1 {
						margin-left: 20px;
						font-size: $type-base;
					}
				}
			}
		}
	}
}

@media #{$desktop-range} {
	.standalone-page-view {
		height: auto;

		.standalone-content {
			margin: 25px auto;
		}
	}

	.discussion-error-page {
		.standalone-content {
			background-color: initial;
			border: none;
		}
	}
}
