.discussion-dropdown {
	color: $discussion-dropdown-color;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.time-range-toggle {
		color: #999;
		margin: 0 0 0 15px;
		padding: 0 0 0 10px;
	}

	.wds-dropdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.wds-dropdown__toggle {
		display: flex;
		font-size: 12px;
		line-height: 16px;
		padding: 4px 0;
	}

	.wds-dropdown__content {
		color: $discussion-dropdown-color;
		text-align: left;

	}

	.has-lines-between {
		li+li {
			border-top: 1px solid $discussion-rail-separator-color;
		}
	}
}

.discussion-header {
	.discussion-dropdown {
		color: $discussion-header-dropdown-color;
		float: right;
		height: 100%;

		.wds-dropdown__toggle-chevron {
			margin-left: 0;
			margin-right: 5px;
		}

		.wds-dropdown__content {
			// needs to be set once more to override dark theme
			color: $discussion-dropdown-color;
		}
	}
}
