.discussion-hide-deleted-container {
	list-style-type: none;
	margin: 3px 0px -10px -8px;

	label {
		overflow: hidden;
		padding: 4px 0 4px 8px;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media #{$desktop-range} {
			&:hover {
				background-color: $discussion-category-hover-background;
			}
		}
	}

	@media #{$mobile-range} {
		margin-top: 8px;
	}
}

.dark-theme {
	.discussion-hide-deleted-container {
		label {
			@media #{$desktop-range} {
				&:hover {
					background-color: $dark-discussion-category-hover-background;
				}
			}
		}
	}
}

.is-hidden {
	display: none;
}
