.discussions div.quote {
	border-left: 4px solid grey;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1rem;
	padding: 0 0 0 1rem;
	font-style: italic;
	display: block;

	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
}