.discussions {

	.discussion-image-upload {
		$color: $wds-color-light-c4;

		&__button {
			align-items: center;
			background: transparent;
			border: dashed 1px $color;
			color: $color;
			display: inline-flex;
			height: 46px;
			justify-content: center;
			margin: 0 0 24px;
			padding: 0;
			width: 100%;
		}
	}
}
