.discussion-left-rail {
	text-align: center;

	.avatar {
		svg, img {
			@include square(90px);
			border-color: $wds-color-light-c4
		}
	}

	&__header {
		font-size: 18px;
		font-weight: bold;
		line-height: 0.67;
		margin:16px 0 0 0;
		text-align: center;
	}

	&__postcounter {
		color: $wds-color-light-c5;
		font-size: 12px;
		font-weight: bold;
		line-height: 1;
		margin: 10px 0 18px 0;
		text-align: center;
	}
}
