.discussion-left-rail {

	&__icon-guidelines {
		color: $wds-color-dark-blue;
		display: block;
		height: 100%;
		margin: 0 auto;
		width: 40px;
	}

	&__guidelines {
		font-size: 18px;
		font-weight: bold;
		line-height: 1;
		margin: 10px 0 18px 0;
		text-align: center;
	}
}
