<nav class="auth-nav">
	<a class="back" href="{{exitTo}}">{{i18n 'auth:common.to-wiki-link-text'}}</a>
</nav>
<div class="cards-container">
	<div class="card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n 'auth:piggyback.header'}}</h1>
		</header>
		<div class="desktop-view">
			<section class="auth-content auth-content-wide">
				{{> auth/piggyback }}
			</section>
		</div>
	</div>
</div>
