<div class="cards-container">
	<div class="card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n 'auth:piggyback.header'}}</h1>
		</header>
		<section class="desktop-view">
			<div class="auth-content auth-content-wide">
				{{> auth/piggyback }}
			</div>
		</section>
	</div>
</div>
